<h1><%= @user.name %></h1>
<p><%= @user.email %></p>
<% @user.user_addresses.each do |user_address| %>
  <p><%= user_address.address %></p>
  <p><%= user_address.alias %></p>
  <p><%= user_address.city %> <%= user_address.state %> <%= user_address.zip %></p>
<% end %>
