<!DOCTYPE html>
<html>
  <head>
    <title>MonsterShop</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
      <ul class="navbar-nav mr-auto">
        <a class="navbar-brand mb-0 h1" href="/">MonsterShop</a>
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/items">Items</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/merchants">Merchants</a>
        </li>
        <% if current_admin? %>
          <li class="nav-item">
            <a class="nav-link" href="/admin/users">Users</a>
          </li>
        <% end %>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <%= link_to "Cart: #{cart.count}", cart_path, class: "nav-link" unless current_user && current_admin?%>
        </li>
        <% if current_user %>
          <span class="navbar-brand mb-0 h1">Logged in as <%= current_user.name %></span>
          <li class="nav-item">
            <%= link_to 'Profile', profile_path, class:"nav-link" %>
          </li>
        <% end %>
        <% if current_merchant_user? %>
          <li class="nav-item">
            <%= link_to 'Merchant Dashboard', merchant_dashboard_path, class:"nav-link" %>
          </li>
        <% elsif current_admin? %>
          <li class="nav-item">
            <%= link_to 'Admin Dashboard', admin_dashboard_path, class:"nav-link" %>
          </li>
        <% end %>
        <% if current_user %>
          <li class="nav-item">
            <%= link_to 'Log Out', logout_path, class:"nav-link" %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to 'Log In', login_path, class:"nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Register', registration_path, class:"nav-link" %>
          </li>
        <% end %>
      </ul>

    </nav>
    <% flash.each do |type, message| %>
    <p><%= message %></p>
    <% end %>
    <%= yield %>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </body>
</html>
